
{% extends 'base.html' %}
{% block title %}
Create Profile
{% endblock %}
{% block contant %}
{% if user.is_authenticated %}
    <h1>Ctreate profile page</h1><br>
        <div class="form-group">
             <form method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               
               {{ form.as_p }}
               <button class="btn btn-secondary">Create profile Page</button>
             </div>

             </form>
             
             {% else %}
             You are not allowed Here...
             {% endif %}
    {% endblock %}